<section class="container-fluid">
	
	<div class='row' style='padding-left: 3%;'>
		<div class="col-xs-10">
			<h2>Premios</h2>
		</div>
		<div class="col-xs-2">
			<br>
			<%= link_to new_present_path, class: 'btn btn-success' do %>
				<i class="fa fa-plus-square fa-fw"></i>
				Nuevo premio
			<% end %>
		</div>
	</div>

	<br>
	<div class="row">
		<div class="col-xs-3">
			<div class="thumbnails">
				<%= link_to users_path, data: { confirm: "¿Está seguro que desea cambiar sus puntos por este premio?" } do %>
					<%= image_tag('placeholders/image_400.png', style: 'max-width: 100%;') %>
				<% end %>
				<div class="caption text-center">
					<h3> Premio 1 </h3>
					<p> Descripción </p>
					<p> Precio: 10 pts</p>
				</div>
			</div>
		</div>
		<div class="col-xs-3">
			<div class="thumbnails">
				<%= link_to users_path, data: { confirm: "¿Está seguro que desea cambiar sus puntos por este premio?" } do %>
					<%= image_tag('placeholders/image_400.png', style: 'max-width: 100%;') %>
				<% end %>
				<div class="caption text-center">
					<h3> Premio 2 </h3>
					<p> Descripción </p>
					<p> Precio: 50 pts</p>
				</div>
			</div>
		</div>
		<div class="col-xs-3">
			<div class="thumbnails">
				<%= link_to users_path, data: { confirm: "¿Está seguro que desea cambiar sus puntos por este premio?" } do %>
					<%= image_tag('placeholders/image_400.png', style: 'max-width: 100%;') %>
				<% end %>
				<div class="caption text-center">
					<h3> Premio 3 </h3>
					<p> Descripción </p>
					<p> Precio: 5 pts</p>
				</div>
			</div>
		</div>
		<div class="col-xs-3">
			<div class="thumbnails">
				<%= link_to users_path, data: { confirm: "¿Está seguro que desea cambiar sus puntos por este premio?" } do %>
					<%= image_tag('placeholders/image_400.png', style: 'max-width: 100%;') %>
				<% end %>
				<div class="caption text-center">
					<h3> Premio 4 </h3>
					<p> Descripción </p>
					<p> Precio: 70 pts</p>
				</div>
			</div>
		</div>
	</div>

	<br>
	<div class="row">
		<div class="col-xs-3">
			<div class="thumbnails">
				<%= link_to users_path, data: { confirm: "¿Está seguro que desea cambiar sus puntos por este premio?" } do %>
					<%= image_tag('placeholders/image_400.png', style: 'max-width: 100%;') %>
				<% end %>
				<div class="caption text-center">
					<h3> Premio 5 </h3>
					<p> Descripción </p>
					<p> Precio: 67 pts</p>
				</div>
			</div>
		</div>
		<div class="col-xs-3">
			<div class="thumbnails">
				<%= link_to users_path, data: { confirm: "¿Está seguro que desea cambiar sus puntos por este premio?" } do %>
					<%= image_tag('placeholders/image_400.png', style: 'max-width: 100%;') %>
				<% end %>
				<div class="caption text-center">
					<h3> Premio 6 </h3>
					<p> Descripción </p>
					<p> Precio: 80 pts</p>
				</div>
			</div>
		</div>
		<div class="col-xs-3">
			<div class="thumbnails">
				<%= link_to users_path, data: { confirm: "¿Está seguro que desea cambiar sus puntos por este premio?" } do %>
					<%= image_tag('placeholders/image_400.png', style: 'max-width: 100%;') %>
				<% end %>
				<div class="caption text-center">
					<h3> Premio 7 </h3>
					<p> Descripción </p>
					<p> Precio: 45 pts</p>
				</div>
			</div>
		</div>
		<div class="col-xs-3">
			<div class="thumbnails">
				<%= link_to users_path, data: { confirm: "¿Está seguro que desea cambiar sus puntos por este premio?" } do %>
					<%= image_tag('placeholders/image_400.png', style: 'max-width: 100%;') %>
				<% end %>
				<div class="caption text-center">
					<h3> Premio 8 </h3>
					<p> Descripción </p>
					<p> Precio: 100 pts</p>
				</div>
			</div>
		</div>
	</div>

</section>