<section class="container-fluid">
	
	<div class='row' style='padding-left: 3%;'>
		<h2>Objetivos</h1>
	</div>

	<br>
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
        	<i class="fa fa-calendar fa-fw" style="padding-top: 8px; padding-bottom: 10px;"></i> Objetivos
        	<div class="pull-right">
            <%= link_to new_goal_path, class: 'btn btn-success' do %>
            <i class="fa fa-plus-square fa-fw"></i> Nuevo
            <% end %>
        	</div>
      	</div>
        <div class="panel-body">

		      <div class="portlet-body">
		      	<div class="table-responsive">
		      		<table class="table table-hover">
		      			<thead>
		      				<tr>
		      					<th></th>
		      					<th>Nombre</th>
		      					<th>Descripción</th>
		      					<th>Tipo de meta</th>
		      					<th></th>
		      				</tr>
		      			</thead>
		      			<tbody>
		      				<% @goals.each_with_index do |goal, index| %>
		      					<tr>
		      						<td>
		      							<%= index + 1 %>
		      						</td>
		      						<td>
		      							<%= goal.name %>
		      						</td>
		      						<td>
		      							<%= goal.description %>
		      						</td>
		      						<td>
		      							<%= goal.goal_type = 1 ? 'Individual' : 'Grupal' %>
		      						</td>
		      						<td>
		      							<div class="btn-group">
		      								<button class="btn btn-info btn-sm btn-outline dropdown-toggle" type='button' data-toggle='dropdown'>
		      									Acciones
		      									<i class="fa fa-angle-down"></i>
		      								</button>
		      								<ul class="dropdown-menu">
		      									<li>
		      										<%= link_to goal_path(goal) do %>
			      										<i class="fa fa-eye fa-fw"></i>
			      										 Consultar
		      										<% end %>
		      									</li>
		      									<li>
		      										<%= link_to edit_goal_path(goal) do %>
		      											<i class="fa fa-pencil-square-o fa-fw"></i>
		      											 Editar
		      										<% end %>
		      									</li>
	      										<li>
	      											<%= link_to edit_goal_path(goal), data: { confirm: "¿Está seguro que desea eliminar el objetivo: #{goal.name}?" } do %>
		      											<i class="fa fa-calendar-times-o fa-fw"></i>
		      											 Eliminar
		      										<% end %>
	      										</li>
	      										<li>
	      											<%= link_to '#' do %>
	      												<i class="fa fa-calendar-plus-o fa-fw"></i>
	      												 Asignar
	      											<% end %>
	      										</li>
		      								</ul>
		      							</div>
		      						</td>
		      					</tr>
		      				<% end %>
		      			</tbody>
		      		</table>
		      	</div>
			    </div>

		    </div>
		  </div>

		</div>
	</div>

</section>